

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
  list-style: none;
}


li a{
  text-decoration: none;
  color: gray;
}

.container{
  width: 100%;
}

header{
  width: 100%;
  height: 100px;
}

.header-top{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-top img{
  height: 40px;
}
.header-top a{
  font-size: 30px;
  color: grey;
  text-decoration: none;
}

.header-bottom{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
}

.header-bottom ul{
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.header-bottom ul li {
  padding-right: 20px;
}

.jumbo{
  width: 40%;
  margin: auto;
}
.jumbo h2 {
  margin-bottom: 20px;
}
.jumbo ul li {
  margin-bottom: 20px;
}

footer{
  width: 100%;
  height: 30px;
  background-color: lightgray;
}

.footer-cont{
  width: 40%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-option1 ul{

  display: flex;
  align-items: center;
}

.footer-option1 ul li{
  padding-right: 10px;
}
